<h3>Listado de Heroes</h3>

<!-- <ul class="mt-2 list-group">
    <li class="list-group-item">SpiderMan</li>
    <li class="list-group-item">IronMan</li>
    <li class="list-group-item">Hulk</li>
    <li class="list-group-item">Superman</li>
</ul> -->

<div *ngIf="deletedHero; else nothingWasDeleted">
    <h3>Héroe borrado <small class="text-danger">{{deletedHero}}</small></h3>
</div>

<ng-template #nothingWasDeleted>
    <h3>No ha borrado nada</h3>
</ng-template>

<button *ngIf="heroNames.length" class="btn btn-outline-danger" (click)="removeLastHero()">Borrar ÚLtimo Héroe</button>

<ul class="mt-2 list-group">
    <li *ngFor="let name of heroNames" class="list-group-item">
        {{name}}
    </li>
</ul>